In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("../dat/real_data/FND.csv")
df.head()

,PROT,PATID,SITE,RANDDT,PROTSEG,VISNO,FNDASMDT,FNSMOKE,FNFIRST,FNFORBDN,FNGIVEUP,FNNODAY,FNFREQ,FNSICK,FNDCOMM,FNDSCORE
0,51,948442,NaN,0.0,A,0,-1.0,1.0,2.0,0.0,0.0,1.0,0.0,1.0,NaN,4.0
1,51,85038,NaN,0.0,A,0,0.0,1.0,2.0,1.0,0.0,2.0,1.0,0.0,NaN,6.0
2,51,626492,NaN,0.0,A,0,0.0,1.0,2.0,1.0,0.0,1.0,0.0,1.0,NaN,5.0
3,51,632936,NaN,0.0,A,0,-1.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,NaN,3.0
4,51,415576,NaN,0.0,A,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [11]:
df_dscr = pd.read_excel("../dat/real_data/FTND Description.xlsx", skiprows=4)
df_dscr

,Key Field,Field Name,Full Name,Question Text,Type,Length and Decimals,Codelist Values,Normal Ranges – Low,Normal Ranges – High,Absolute Ranges – Low,Absolute Ranges – High,Expected,Parenting,Rendering
0,*,SITE,CTP,NaN,C,5,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
1,*,PROT,Protocol,NaN,C,5,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
2,*,PATID,Participant ID,NaN,C,5,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
3,*,PROTSEG,Segment,NaN,C,1,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
4,*,VISNO,Visit number,NaN,C,4,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN
5,NaN,FNDASMDT,Date of assessment,Date of assessment:,D,8,NaN,j_edate,today,j_edate,today,Yes,NaN,NaN
6,NaN,FNSMOKE,Smoke cigarettes,Do you currently smoke cigarettes?,C,1,"0=No, 1=Yes",NaN,NaN,NaN,NaN,Yes,NaN,NaN
7,NaN,FNFIRST,How soon before 1st cig,How soon after you wake up do you smoke your f...,C,1,"3=Within 5 minutes, 2=6 - 30 minutes, 1=31 - 6...",NaN,NaN,NaN,NaN,Yes,FNSMOKE not = 1,NaN
8,NaN,FNFORBDN,Difficult where forbidden,Do you find it difficult to refrain from smoki...,C,1,"0=No, 1=Yes",NaN,NaN,NaN,NaN,Yes,FNSMOKE not = 1,NaN
9,NaN,FNGIVEUP,Which cig hate to give up,Which cigarette would you hate most to give up?,C,1,"1=The first one in the morning, 0=All others",NaN,NaN,NaN,NaN,Yes,FNSMOKE not = 1,NaN
10,NaN,FNNODAY,Number cigs per day,How many cigarettes/day do you smoke?,C,1,"0=10 or less, 1=11-20, 2=21-30, 3=31 or more",NaN,NaN,NaN,NaN,Yes,FNSMOKE not = 1,NaN
11,NaN,FNFREQ,When smoke most,Do you smoke more frequently during the first ...,C,1,"0=No, 1=Yes",NaN,NaN,NaN,NaN,Yes,FNSMOKE not = 1,NaN
12,NaN,FNSICK,Smoke when sick in bed,Do you smoke if you are so ill that you are in...,C,1,"0=No, 1=Yes",NaN,NaN,NaN,NaN,Yes,FNSMOKE not = 1,NaN
13,NaN,FNDCOMM,Comments,Comments:,M,4,NaN,NaN,NaN,NaN,NaN,No,NaN,FND_PROT not = 0053
14,NaN,FNDSCORE,Score,Total score:,N,2(0),NaN,NaN,NaN,NaN,NaN,No,NaN,NaN

List of questions: 

Basic question:
* Q0 FNSMOKE "Do you currently smoke cigarettes?"

morning smoking indicators:
 * Q2 FNGIVEUP "Which cigarette would you hate most to give up?"
 * Q3 FNFREQ "Do you smoke more frequently during the first "

daytime smoking
 * Q1 FNFIRST "How soon after you wake up do you smoke you"
 * Q4 FNNODAY "How many cigarettes/day do you smoke?"
 * Q5 FNFORBDN "Do you find it difficult to refrain from smoki."
 * Q6 FNSICK "Do you smoke if you are so ill that you are in"

In [12]:
question_field_names = df_dscr.iloc[np.r_[2,6:13], 1].values

In [13]:
dfq = df.loc[:,question_field_names].dropna().reset_index(drop=True)
dfq.head()

    PATID  FNSMOKE  FNFIRST  FNFORBDN  FNGIVEUP  FNNODAY  FNFREQ  FNSICK
0  948442      1.0      2.0       0.0       0.0      1.0     0.0     1.0
1   85038      1.0      2.0       1.0       0.0      2.0     1.0     0.0
2  626492      1.0      2.0       1.0       0.0      1.0     0.0     1.0
3  632936      1.0      2.0       0.0       0.0      1.0     0.0     0.0
4  471334      1.0      3.0       0.0       1.0      2.0     1.0     1.0

In [14]:
for col in dfq.columns[1:]:
    print(col,'\n', dfq[col].value_counts(), '\n\n')

FNSMOKE
 1.0    565
Name: FNSMOKE, dtype: int64


FNFIRST
 2.0    233
3.0    184
0.0     75
1.0     73
Name: FNFIRST, dtype: int64


FNFORBDN
 0.0    359
1.0    206
Name: FNFORBDN, dtype: int64


FNGIVEUP
 1.0    319
0.0    246
Name: FNGIVEUP, dtype: int64


FNNODAY
 1.0    245
0.0    214
2.0     90
3.0     16
Name: FNNODAY, dtype: int64


FNFREQ
 0.0    379
1.0    186
Name: FNFREQ, dtype: int64


FNSICK
 0.0    332
1.0    233
Name: FNSICK, dtype: int64

In [15]:
dfq.median(axis=0)

PATID       485954.0
FNSMOKE          1.0
FNFIRST          2.0
FNFORBDN         0.0
FNGIVEUP         1.0
FNNODAY          1.0
FNFREQ           0.0
FNSICK           0.0
dtype: float64

In [20]:
dfq['FNFIRST'] = (dfq.FNFIRST<=2).astype(int)
dfq['FNNODAY'] = (dfq.FNNODAY<=1).astype(int)
dfq.iloc[:,1:] = dfq.iloc[:,1:].astype(int)
dfq

      PATID  FNSMOKE  FNFIRST  FNFORBDN  FNGIVEUP  FNNODAY  FNFREQ  FNSICK
0    948442        1        1         0         0        1       0       1
1     85038        1        1         1         0        1       1       0
2    626492        1        1         1         0        1       0       1
3    632936        1        1         0         0        1       0       0
4    471334        1        1         0         1        1       1       1
5    626802        1        1         0         1        1       1       0
6    422129        1        1         0         0        1       0       0
7     29321        1        1         0         1        1       0       1
8    873012        1        1         0         1        1       1       0
9    496667        1        1         0         0        1       0       0
10   439591        1        1         1         1        1       1       1
11   723713        1        1         0         1        1       0       1
12   874946        1        1         1         0        1       1       0
13    23352        1        1         0         0        1       0       1
14   364554        1        1         1         1        1       0       1
15   943156        1        1         0         1        1       0       1
16   406473        1        1         0         1        1       0       0
17   235749        1        1         0         1        1       0       1
18   399684        1        1         1         1        1       1       1
19   714111        1        1         0         1        1       1       1
20    12025        1        1         0         0        1       0       0
21   991520        1        1         0         1        1       1       1
22   927605        1        1         0         1        1       1       0
23   733283        1        1         0         1        1       0       0
24   309573        1        1         0         0        1       0       0
25   284106        1        1         0         1        1       1       0
26   588958        1        1         0         1        1       1       1
27   650125        1        1         0         1        1       0       1
28   881988        1        1         0         1        1       1       1
29   953263        1        1         0         1        1       1       0
..      ...      ...      ...       ...       ...      ...     ...     ...
535  223943        1        1         0         0        1       0       0
536  264310        1        1         0         0        1       0       0
537  603556        1        1         0         1        1       0       0
538  181671        1        1         1         0        1       1       1
539  211253        1        1         0         1        1       0       0
540  553051        1        1         1         0        1       0       1
541    4800        1        1         0         0        1       0       0
542  247947        1        1         0         0        1       0       0
543  284846        1        1         1         1        1       1       1
544  569359        1        1         0         0        1       0       0
545  303115        1        1         1         0        1       0       0
546   88981        1        1         1         1        1       0       1
547  668239        1        1         0         1        1       1       0
548  816191        1        1         1         1        1       1       1
549   37870        1        1         0         0        1       0       0
550  246628        1        1         0         0        1       0       0
551  953898        1        1         0         0        1       0       0
552  963730        1        1         0         0        1       0       0
553  123035        1        1         0         1        1       1       1
554  201810        1        1         1         1        1       0       0
555  631107        1        1         0         0        1       0       0
556  807417        1        1         1         0        1       0       0
557  506998        1        1         0         0        1       0       1
558  723809        1        1         0         0        1       0       0
559  396246        1        1         1         0        1       0       1
560  524719        1        1         1         1        1       1       1
561  455518        1        1         0         0        1       0       0
562  329619        1        1         0         1        1       1       0
563  109876        1        1         0         0        1       0       1
564  366945        1        1         0         0        1       1       0

[565 rows x 8 columns]